body {
  background-color: #212121 !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.39),
    rgba(27, 27, 27, 0.642)
  );
  font-family: "Courier New", Courier, monospace !important;
}
html {
  overflow-x: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}
.sticky-m {
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  background-color: #0000005c;
  padding-left: 10px;
  text-align: left;
  border-bottom: 1px solid #ffffffbe;
}
.sticky-m img {
  width: 80%;
  max-width: 350px;
  max-height: 100px;
}
.usrnt {
  float: right;
  color: #e5e5e5;
  margin-right: 5px;
  font-size: 14px;
  padding-bottom: 5px;
  margin-top: 5px;
}
#secone {
  width: 95%;
  max-width: 400px;
  margin-top: 150px;
  background-color: #ffffffd5;
  padding-bottom: 20px;
  border-radius: 10px;
}
#secone button {
  width: 240px;
  margin: 20px;
  font-size: 18px;
  border-radius: 20px;
}
#secone-head {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #b10505;
  color: white;
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
footer {
  margin-top: 60px;
  color: #ffffff79;
}

footer a {
  color: #ffffffd7;
}

#footsec {
  bottom: 0px;
  left: 0px;
  position: fixed;
  padding: 10px;
  background-color: #b10505;
  width: 100%;
}
#footsec a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

#footsec a:hover {
  color: #b9b9b9;
}
#usrobdm,
#usrmono {
  display: none;
  overflow: hidden;
}

#usrobdm {
  margin-top: 100px;
}

#keysw {
  right: 10px;
  position: absolute;
}

#keysw svg {
  width: 25px;
  height: 25px;
  color: #ffffffbe;
}

.condesk {
  bottom: 80px;
  display: block;
  color: #dd1d16;
  font-size: 16px;
}
.condesk a {
  color: #dd1d16;
}

.condesk svg {
  width: 20px;
  height: 20px;
  margin-top: -4px;
}

.condesk:hover {
  color: #bcbcbc;
}
.condesk a:hover {
  color: #bcbcbc;
  text-decoration: none;
}
#footer {
  font-size: 14px;
}
#footer a:hover {
  text-decoration: none;
  color: #dddddd;
}
@media screen and (max-width: 400px) {
  #keysw {
    display: none;
  }
  .usrnt {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 767px) {
  .mnlogonv {
    width: 30px !important;
  }
  #titleImg,
  .titleImg {
    max-width: 285px !important;
  }
  .qb {
    font-size: 12px !important;
    line-height: 26px !important;
  }
}
